.post-gutter {
  &:nth-of-type(3n+1) {
    border-right: 1px solid #eee;
  }
  &:nth-of-type(3n+2) {
    border-left: 1px solid #eee;
    margin-left: -1px;
  }
}

.post-cover {
  margin: 30px 20px;
  border: none;

  h5 a {
    font-family: 'Prompt';
    color: black;
  }

  .card-text {
    font-family: 'Athiti';
    color: #777;
    margin-top: 20px;
  }

  .post-category {
    color: #A0A0A0;
    text-decoration: none;
    display: inline-block;
    padding: .33333rem .5rem;
    line-height: 1;
    border-radius: 2px;
    border: 1px solid #A0A0A0;
    margin-top: .5em;
    margin-right: .5em;
    font-size: 0.6rem;
  }
}